@import '@/styles/variables';

.home {
    width: 90%;
    .container {
        display: flex;
        flex-direction: column;
        font-family: 'Monument Extended', sans-serif;
        text-transform: uppercase;
        padding: calc(10px + 10 * (100vw - 320px) / 928) 16px 0 16px;

        .text {
            h1 {
                font-size: calc(23px + 72 * (100vw - 320px) / 928);
                font-weight: 800;
                color: $primary;
                letter-spacing: calc(-1px - 5 * (100vw - 320px) / 928);
                line-height: calc(25px + 60 * (100vw - 320px) / 928);
            }
            h2 {
                // max-width: 80%;
                font-size: calc(18px + 7 * (100vw - 320px) / 928);
                font-weight: 400;
                line-height: calc(30px + 15 * (100vw - 320px) / 928);
                text-align: right;
                color: $primary;
                margin: 250px 0 40px 50%;
            }
        }
    }
}

.works {
    width: 100%;
    margin-top: 150px;
}

.marquee-box {
    align-self: center;
    width: 100vw;
    padding: 90px 0;
    // transform: skew(-6deg, -3deg);
    overflow: hidden;

    .marquee {
        span {
            font-size: clamp(2.5rem, 7vw, 7.5rem);
            padding: calc(14px + 10 * (100vw - 320px) / 928) calc(52px + 20 * (100vw - 320px) / 928);
            transition: 0.2s;
            cursor: crosshair;

            &:nth-child(even) {
                font-weight: 500;
            }

            &:hover {
                color: $primary;
                transition: 0.2s;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                margin-left: calc(-60px + (-10) * (100vw - 320px) / 928);
                width: 10px;
                height: 10px;
                background: #f36429 center no-repeat;
                transform: translateY(-50%);
                border-radius: 50%;
            }
        }
    }
}

@media (min-width: 3000px) {
    .home {
        .container {
            .text {
                h1 {
                    font-size: 240px;
                    line-height: 220px;
                }
                h2 {
                    font-size: 50px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        width: 100%;
        .container {
            .text {
                h1 {
                    font-size: calc(28px + 50 * (100vw - 320px) / 928);
                }
                h2 {
                    text-align: left;
                    margin: 20px 0 40px 0;
                }
            }
        }
    }
}
