.home {
    margin-top: 50px;

    .text {
        h1 {
            font-size: 80px;
            font-weight: 800;
            color: #063ef9;
        }

        h2 {
            max-width: 80%;
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;
            text-align: left;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    .skills {
        h2 {
        }
        h3 {
        }
        .skill-box {
        }
    }
}

@media (max-width: 480px) {
    .home {
        margin-top: 10px;
        .text {
            h1 {
                font-size: 40px;
                font-weight: 800;
                color: #063ef9;
            }

            h2 {
                max-width: 80%;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                margin-top: 20px;
                margin-bottom: 40px;
            }
        }
    }
}
