@import '@/styles/variables';

.btn {
    padding: 15px 20px;
    font-size: 14px;
    color: $black;
    border: 1px solid $black;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
