@import '@/styles/variables';

.text {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: calc(14px + 4 * (100vw - 320px) / 928);
    color: $black;
    text-decoration: none;

    svg {
        margin-right: calc(5px + 4 * (100vw - 320px) / 928);
    }
}
