.text {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: calc(16px + 4 * (100vw - 320px) / 928);
    color: #000;
    transition: all 0.2s ease;
    text-decoration: none;

    svg {
        margin-right: calc(5px + 5 * (100vw - 320px) / 928);
    }
}
