@import '@/styles/variables';

.social {
    display: inline-flex;
    align-items: center;
    width: auto;
    border-radius: 20px;
    svg {
        margin: 7px 15px 7px 15px;
        transition: all 0.2s;
        &:hover {
            text-align: center;
            fill: $black;
            transition: all 0.2s;
        }
    }
}
