.about {
    .container {
        margin-top: calc(10px + 10 * (100vw - 320px) / 928);
        font-size: calc(34px + 12 * (100vw - 320px) / 928);
        font-weight: 800;
        color: #063ef9;
        max-width: 1328px;
        width: 100%;
        padding: 0 16px;
        p {
            font-size: calc(20px + 7 * (100vw - 320px) / 928);
            font-weight: 400;
            color: #000;
            line-height: calc(30px + 15 * (100vw - 320px) / 928);
            text-align: left;
            margin: 20px 0 40px 0;
        }
    }
}
