$light-gradient: linear-gradient(95.08deg, #00baff 2.49%, #063ef9 97.19%);

.navbar {
    max-width: 350px;
    width: 100%;
    height: 52px;

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        li {
            list-style: none;

            .link {
                background: $light-gradient bottom center no-repeat;
                background-size: 0px 2px;
                padding: 5px;
                transition: 0.25s;
                // font-size: calc(13px + 3 * (100vw - 320px) / 928);
                font-size: clamp(12px, 1vw, 20px);
                color: rgb(188, 190, 208);
                text-decoration: none;

                &:hover {
                    background-size: 100% 2px;
                    transition: all 0.25s ease;
                    color: rgb(20 20 43);
                }

                &.current {
                    background-size: 100% 2px;
                    color: rgb(20 20 43);
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .navbar {
        max-width: 450px;
    }
}
