@import '@/styles/variables';

.navbar {
    max-width: 450px;
    width: 100%;

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        li {
            list-style: none;

            .link {
                background: $light-gradient bottom center no-repeat;
                background-size: 0px 2px;
                padding: 5px;
                transition: 0.25s;
                font-size: clamp(12px, 1vw, 20px);
                color: $grey;
                text-decoration: none;

                &:hover {
                    background-size: 100% 2px;
                    transition: all 0.25s ease;
                    color: $black;
                }

                &.current {
                    background-size: 100% 2px;
                    color: $black;
                }
            }
        }
    }
}