.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 480px) {
    .footer {
        h1 {
            font-size: 13px;
        }
    }
}
