@import '@/styles/variables';

$wave: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
$hover-wave: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .6s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");

.footer {
    max-width: 1528px;
    width: 100%;
    .container {
        display: flex;
        flex-direction: column;
        padding: 42px 16px;

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $primary;
            margin-bottom: calc(20px + 15 * (100vw - 320px) / 928);

            h1 {
                text-transform: uppercase;
                text-align: center;
                font: 800 calc(23px + 28 * (100vw - 320px) / 928) Monument Extended, sans-serif;
                margin-bottom: calc(20px + 10 * (100vw - 320px) / 928);
            }

            span {
                font-size: calc(15px + 5 * (100vw - 320px) / 928);
                .link {
                    background: $black $wave repeat-x 0 100% / auto 5px;
                    color: #fff;
                    text-decoration: none;
                    padding: 5px 5px 5px 0;
                    margin-left: 5px;
                    &:hover {
                        background-image: $hover-wave;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h2 {
                font-size: calc(13px + 2 * (100vw - 320px) / 928);
                font-weight: 400;
            }
        }
    }
}
